* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background: #252525; */
  color-scheme: light dark;
  color: white;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

body {
  overflow-x: hidden;
}

.colorText {
  color: var(--btn-color);
}

a {
  text-decoration: none;
  color: var(--btn-color);
  font-weight: 500;
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
  border: 2px solid transparent;
}

a:hover,
a.active {
  color: white;
  border-bottom: 2px solid var(--btn-color);
}

.btn1 {
  background: var(--btn-color);
  border-radius: .5rem;
  padding: .4rem 0;
  width: 10rem;
  text-align: center;
  border: 2px solid transparent;
  transition: all .3s ease-in-out;
  color: white;
}

.btn2 {
  border-radius: .5rem;
  padding: .4rem 0;
  width: 10rem;
  text-align: center;
  border: 2px solid var(--btn-color);
  transition: all .3s ease-in-out;
  color: white;
}

.btn1:hover,
.btn2:hover {
  cursor: pointer;
  box-shadow: 0 0 2rem var(--btn-color);
  border: 2px solid white;
  scale: 1.01;
}