.hero {
    height: 90vh;
    width: 100vw;
    display: flex;
    padding: 1rem 5rem;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

.heroEnd{
    height: 80vh;
    flex-direction: row-reverse;
}

.footer{
    height: 10vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 25rem;
    margin-bottom: 3rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons {
    display: flex;
    gap: 1.5rem;
}