.about {
    height: 85vh;
    width: 100vw;
    display: flex;
    padding: 1rem 5rem;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
}

.left {
    gap: 1.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about{
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .about{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0 4rem 5rem 4rem;
        gap: 0rem;
    }

    .left{
        align-items: center;
        text-align: center;
    }

    .right img{
        width: 22rem;
    }
}

@media screen and (max-width: 380px) {
    .right img{
        width: 16rem;
    }
}